.sideBarOption{

    display: flex;
    align-items: center;
    height: 40px;
    padding:0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor:pointer;
    color:#818181
}

.sideBarOption:hover,.sideBarOption:hover > h3 ,.sideBarOption:hover > p,.sideBarOption--active,.sideBarOption--active>h3,.sideBarOption--active>p  {
 background-color: #fcecec;
 color:#c04b37;
 font-weight: 800 !important;
    }
    

.sideBarOption > svg{
padding:5px
       }
.sideBarOption > h3{
 flex:1;
 margin-left: 10px;
 font-size: 14px;
 font-weight: 400;
    }

.sideBarOption > p{
display: none;
font-weight: 300;
}


.sideBarOption > p{
   display: none;
    }
.sideBarOption:hover > p,.sideBarOption--active>p{
    display: inline;
     }

